{%extends "admin_layout.html"%}<!--Inheritence all nav features-->>
{%block content%}
            <div class="container">
              {%if theatres%}
                <div class="row">
                  {%for theatre in theatres%}
                  <div class="col">
                    <!--Card1 here-->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">{{theatre.name}}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{theatre.location}}</h6>
                          {%if theatre.shows%}
                          <table>
                            <tr><th>ID</th><th>Name</th><th>Date/Time</th></tr>
                            {%for show in theatre.shows%}
                            <tr><td>{{show.id}}</td><td>{{show.name}}</td><td>{{show.date_time}}</td></tr>
                            {%endfor%}
                          </table>
                          {%else%}
                          <p>No shows here</p>
                          {%endif%}
                          <button type="button" class="btn btn-outline-primary">+Add Show</button>
                        </div>
                      </div>
                  </div>
                  {%endfor%}
                </div>
                {%else%}
                  <h3 class="center">No venues are available</h3>
                {%endif%}
              </div>
              <center><a href="/venue/{{name}}" type="button" class="btn btn-primary">+Add Venue</a></center>
              
{%endblock%}

              