{%extends "user_layout.html"%}<!--Inheritence all nav features-->>
{%block content%}
            <!--Venue 1 started-->
            <div class="outer_box">
              Venue 1
            <div class="container">
                <div class="row">
                  <div class="col">
                    <!--Card1 here-->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Show 1</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Action movie</h6>
                          <button type="button" class="btn btn-outline-primary">Book</button>
                        </div>
                      </div>
                  </div>
                  <div class="col">
                    <!--Card2 here-->
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Show 2</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Comedy</h6>
                          <button type="button" class="btn btn-outline-danger">Houseful</button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <br>

            <!--End of Venue 1-->
              <div class="outer_box">
                Venue 2
              <div class="container">
                  <div class="row">
                    <div class="col">
                      <!--Card1 here-->
                      <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Show 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Action movie</h6>
                            <button type="button" class="btn btn-outline-warning">Fast Filling</button>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                      <!--Card2 here-->
                      <div class="card" style="width: 18rem;">
                          <div class="card-body">
                            <h5 class="card-title">Show 2</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Comedy</h6>
                            <button type="button" class="btn btn-outline-primary">Book</button>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                </div>
{%endblock%}        