.my_container{
    border: 2px solid black;

}
.my_panel{
    width: 80%;
    margin: auto;
    height: auto;
    border: 1px dashed black;
}
.outer_box{
    border: 1px solid orange;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
.input_form{
    border: 2px solid blue;
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
}
